apiVersion: v1
kind: Pod
metadata:
 name: disconnected-{{ disconnected_catalog }}-registry
 namespace: default
spec:
  containers:
  - name: cnt
    image: quay.io/openshift-psap/ci-artifacts:latest
    command:
    - bash
    - -c
    - /mnt/disconnected-entrypoint/registry_entrypoint.sh
    ports:
    - containerPort: 5000
    readinessProbe:
      exec:
        command:
          - cat
          - /tmp/healthy
      initialDelaySeconds: 5
      periodSeconds: 5
  restartPolicy: Never
  volumes:
  - name: entrypoint
    configMap:
      defaultMode: 0700
      name: disconnected-entrypoint
  - name: kubeconfig-secret
    secret:
      secretName: kubeconfig-secret
