---

# First get the Cluster NFD Operator resources and label them by type
- include: get_cluster_nfd_operator_resources.yml

# Run all init checks to ensure that all resources are available, despite what
# the CRD 'status' field may say
- name: Run init checks to ensure NFD is up and running before attempting to test status checking
  debug:
    msg: "Checking to see if NFD is already up and running. If NFD is not up and running, then this playbook will fail."

- include: "{{ item }}"
  with_items:
    - "namespace_init.yml"
    - "clusterrole_init.yml"
    - "clusterrolebinding_init.yml"
    - "controller_manager_init.yml"
    - "serviceaccount_init.yml"
    - "service_init.yml"
    - "scc_init.yml"
    - "role_init.yml"
    - "rolebinding_init.yml"
    - "daemonset_init.yml"
  when: >
    oc_version.stdout_lines[0] == "4.8" or
    oc_version.stdout_lines[0] == "4.9" or
    oc_version.stdout_lines[0] == "4.10"
