---
- name: Attempt to retreive the NFD Namespace, {{ nfd_operator_namespace }}
  command: oc get ns '{{ nfd_operator_namespace }}' -oname | grep 'error'
  register: nfd_operator_ns_does_not_exist
  failed_when: false

- name: If the NFD Operator namespace does not exist, then no NFD Operator resources exist
  fail: msg="The '{{ nfd_operator_namespace }}' namespace must be defined before running this role"
  when: nfd_operator_ns_does_not_exist.stdout_lines == ''
